<h2 id="traffic">{{ _('Dein Traffic') }}</h2>

<h3 id="traffic-table">{{ _('Traffic Tabelle') }}</h3>
<div class="card">
    <table class="card-body table table-striped mb-0">
        <thead>
            <tr>
                <th>{{ _('Wochentag') }}</th>
                <th>{{ _("Download") }}</th>
                <th>{{ _("Upload") }}</th>
                <th>{{ _("Gesamt") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for day in traffic_user.traffic_history %}
                <tr>
                    <td>{{ get_weekday(day['day']) }}</td>
                    <td>{{ day['input'] | unit }}</td>
                    <td>{{ day['output'] | unit }}</td>
                    <td class="{{ day['throughput'] }}">
                        {{ day['throughput'] | unit }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3 id="traffic-chart">{{ _('Traffic Diagramm') }}</h3>
<div class="card">
    <div class="card-body">
    <figure id="trafficchart">
        {{ traffic_chart(traffic_user.traffic_history)|safe }}
    </figure>
    </div>
</div>
