{% extends "base.html" %}#
{% import "macros/forms.html" as forms %}
{% set page_title = _("Kontakt") %}

{% block content %}
    {% call forms.render(form=form, form_id='anonymous_contact_form', reset_button=False, cancel_to=url_for('generic.index')) %}
        <div id="hints" class="{{ form_input_offset_class }} {{ form_input_width_class }}">
        </div>
        <div class="{{ form_input_offset_class }} {{ form_input_width_class }} alert alert-info">
            <strong>{{ _("Hinweis:") }}</strong>
            {{ _("Wenn du uns angemeldet schreibst, können wir Dich als Mitglied "
            "identifizieren und Deine Anfrage schneller bearbeiten!") }}
            <div>
                <span class="glyphicon glyphicon-share-alt"></span>
                {% if current_user.is_authenticated -%}
                    <a href="{{ url_for('usersuite.contact') }}">&nbsp;
                        {{- _("Zum Kontaktformular für angemeldete Nutzer") -}}
                    </a>
                {%- else %}
                    <a href="{{ url_for('generic.login') }}">&nbsp;{{ _("Zum Login") }}</a>
                {%- endif %}
            </div>
        </div>
    {% endcall %}
{% endblock %}
