{% import "macros/services-status.html" as services_status %}

{%- macro user_nav_items() -%}
    {% if current_user.is_anonymous -%}
        <li class="nav-item">
            <a href="{{ url_for('generic.login') }}" class="nav-link">
                <span class="bi-person-fill"></span>
                {{ _("Login") }}
            </a>
        </li>
    {%- else -%}
        <li class="nav-item">
            <a href="{{ url_for('usersuite.index') }}" class="nav-link">
                <span class="bi-person-fill"></span>
                {{ current_user.realname.value }}
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ url_for('generic.logout') }}" class="nav-link">
                <span class="bi-power"></span>
                {{ _("Logout") }}
            </a>
        </li>
    {%- endif %}
{%- endmacro -%}
{%- macro locale_image(locale) -%}
    <img
        src="{{ url_for('static', filename='img/{}.png'.format(locale.language)) }}"
        alt="{{ locale.display_name }}"
    />
{%- endmacro -%}
{%- macro locale_image_and_text(locale) -%}
    {{ locale_image(locale) }}
    {{ locale.display_name }}
{%- endmacro -%}
<!DOCTYPE html>
<html lang="{{ get_locale().language }}">

<!--
    ___    ______           ____    _____    _   __
   /   |  / ____/          / __ \  / ___/   / | / /
  / /| | / / __           / / / /  \__ \   /  |/ /
 / ___ |/ /_/ /          / /_/ /  ___/ /  / /|  /
/_/  |_|\____/          /_____/  /____/  /_/ |_/

~~~~
Uns gefällt, wo Du hinschaust. Du willst mehr sehen? Schreib uns auf du-bist-gefragt<at>agdsn.de!

~~~~
We like where you're looking. Wanna see more? Contact us at du-bist-gefragt<at>agdsn.de!

-->


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Arbeitsgemeinschaft Dresdner Studentennetz">
    <meta name="author" content="AG DSN Administrators">

    <title>AG DSN {% if page_title %} - {{ page_title }}{% endif %}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bootstrap-icons.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap-social.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}"/>
    {% block custom_css %}{% endblock %}

    <script type="application/json" id="locale">
        {{- get_locale() | string | tojson -}}
    </script>
    <script defer src="{{ url_for("static", filename="js/jquery-2.1.1.min.js") }}"></script>
    <script defer src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>
    <script defer src="{{ url_for("static", filename="js/statuspage.js") }}"></script>
    <script defer src="{{ url_for("static", filename="js/agdsn.js") }}"></script>
    <script defer src="{{ url_for("static", filename="js/htmx.js") }}"></script>
    {% block custom_script %}{% endblock %}
</head>

<body class="js-toc-content">
<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('generic.index') }}">
            <img id="logo" src="{{ url_for('static', filename='img/logo_hover.png') }}"
                 alt="AG DSN"/>
        </a>
        <a class="navbar-brand d-lg-none" href="{{ url_for('generic.index') }}">
            AG DSN
        </a>
        <button type="button" class="navbar-toggler"
        data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-label="Toggle navigation"
        aria-expanded="false">
            <span class="visually-hidden">toggle</span>
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto" role="menu">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">
                        {{ _("News") }}<span class="caret"></span>
                    </a>
                    <!-- TODO add aria-labelledby ↓ and id ↑ -->
                    <div class="dropdown-menu" role="menu">
                        <a href="{{ url_for('news.show', start=0) }}" class="dropdown-item">
                            <span class="bi-skip-start-fill"></span>
                            &nbsp; {{ _("Neueste") }}
                        </a>
                        <a href="{{ url_for('news.show', end=-1) }}" class="dropdown-item">
                            <span class="bi-skip-end-fill"></span>
                            &nbsp; {{ _("Älteste") }}
                        </a>
                        <a href="{{ url_for('news.show', start=0, end=-1) }}" class="dropdown-item">
                            <span class="bi-collection-fill"></span>
                            &nbsp; {{ _("Alle") }}
                        </a>
                    </div>
                </li>

                {% for c in cf_pages.categories -%}
                    {% if c.index -%}
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">
                                {{ c.name }}<span class="caret"></span>
                            </a>
                            <!-- TODO add aria-labelledby ↓ and id ↑ -->
                            <div class="dropdown-menu" role="menu">
                                {%- for article in c.articles -%}
                                    {%- if not article.id == 'index' and article.title and not article.hidden -%}
                                    <a href="{{ url_for('pages.show', category_id=c.id, article_id=article.id) }}" class="dropdown-item">
                                        <span class="{{ article.icon | glyphicon_to_bi }}"></span>
                                        &nbsp; {{ article.title }}
                                    </a>
                                    {%- endif %}
                                {%- endfor %}
                            </div>
                        </li>
                    {% endif -%}
                {%- endfor %}
            </ul>

            <!-- dropdown cog: visible on lg only -->
            <ul id="navbar-right-dropdown"
                class="navbar-nav ms-auto d-none d-lg-block d-xl-none">
                <li class="nav-item dropdown">
                    <button id="language-dropdown-button" type="button"
                            class="btn btn-secondary navbar-btn"
                            data-bs-toggle="dropdown" aria-label="Toggle Menu" aria-expanded="false">
                        <span class="bi-gear-fill" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" role="menu"
                        aria-labelledby="language-dropdown-button">
                        <li class="dropdown-header">{{ _("Anmeldung") }}</li>
                        {{ user_nav_items() }}
                        <li class="dropdown-header">{{ _("Sprache") }}</li>
                        <li>
                            {%- for locale in possible_locales() %}
                                <li {% if get_locale() == locale -%} class="active" {%- endif %}>
                                    <a href="{{ url_self(locale=locale.language) }}" class="nav-link">
                                        {{ locale_image_and_text(locale) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </li>

                    </ul>
                </li>

            </ul>

            <!-- ≥xl: expanded log{in,out}/language menu; <l: log{in,out} + language toggle -->
            <ul id="navbar-right" class="navbar-nav ms-auto d-lg-none d-xl-inline-flex">
                {{ user_nav_items() }}

                <!-- lanugage toggle button -->
                <li class="nav-item btn-group hstack justify-content-center d-xl-none" aria-label="language selection">
                    {% for locale in possible_locales() %}
                        <a
                            href="{{ url_self(locale=locale.language) }}"
                            {% if locale == get_locale() %}
                            aria-current="true"
                            class="btn btn-outline-primary active"
                            {% else %}
                            class="btn btn-outline-primary"
                            {% endif %}
                        >
                            {{ locale_image_and_text(locale) }}
                        </a>
                    {% endfor %}
                </li>

                <!-- language dropdown -->
                <li class="nav-item dropdown d-none d-xl-inline-flex">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">
                        {{ locale_image(get_locale()) }}
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" role="menu">
                        {% for locale in possible_locales() %}
                            <a
                                href="{{ url_self(locale=locale.language) }}"
                                {%- if locale == get_locale() -%}
                                class="dropdown-item active"
                                {%- else -%}
                                class="dropdown-item"
                                {%- endif -%}
                            >
                                {{ locale_image_and_text(locale) }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="pg-header">
    <div class="container">
        <h1>AG DSN</h1>
        <p>Arbeitsgemeinschaft Dresdner Studentennetz</p>
    </div>
</header>


<div id="center" class="container">
    <div class="row">
        <main class="col">
            <div class="d-md-none">
                <br/>
                {{ services_status.widget() }}
                <hr/>
            </div>

            {%- with messages = get_flashed_messages(with_categories=True) -%}
                {%- if messages -%}
                    {% for cat, msg in messages %}
                        {%- if cat == 'error' -%}{%- set cat = 'danger' -%}{%- endif -%}
                        {%- if cat and cat != 'message' -%}
                            {% set alert_class = "alert-{}".format(cat) %}
                        {%- else -%}
                            {% set alert_class = "alert-info" %}
                        {%- endif -%}
                        <div class="sipa_flash alert {{ alert_class }}">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {%- endif -%}
            {%- endwith -%}

            {% block content %}
            {% endblock %}
        </main>

        <div id="sidebar" class="col-xl-3 col-lg-4 col-md-5">
            {% block sidebar %}
                <div>
                    <!-- TODO Fix visibility -->
                    <div class="module d-none d-md-block">
                        <h2>
                            {{ _("Status") }}
                        </h2>

                        <hr class="full">

                        {{ services_status.widget() }}
                    </div>

                    {% if should_display_traffic_data() -%}
                        <div class="module"><h2>
                            <a href="{{ url_for('generic.usertraffic') }}"><span
                                    class="bi-bar-chart-fill"></span> Traffic</a>
                        </h2></div>
                    {%- endif %}
                    <div id="row-contact">
                        <div class="module">
                            <h2>{{ _("Kontakt") }} </h2>
                            <hr class="full">

                            <div>
                                <div class="row">
                                    <div class="col-1">
                                        <span class="bi-envelope-fill"></span>
                                    </div>
                                    <div class="col-10">
                                        {% if current_user.is_authenticated %}
                                            {% set mail = current_datasource().support_mail %}
                                            <a href="mailto:{{ mail }}">{{ mail }}</a>

                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-1">
                                                <span class="bi-envelope-fill"></span>
                                            </div>
                                            <div class="col-10">

                                            <a href="{{ url_for('usersuite.contact') }}">
                                                {{ _("Kontaktformular für Mitglieder") }}
                                            </a>

                                        {% else %}
                                            <a href="{{ url_for('generic.contact') }}">
                                                {{ _("Kontaktformular für Mitglieder") }}
                                            </a>
                                        {% endif %}

                                        </div>
                                        </div>
                                <div class="row">
                                    <div class="col-1">
                                        <span class="bi-envelope-fill"></span>
                                    </div>
                                    <div class="col-10">
                                        <a href="{{ url_for('generic.contact_official') }}">
                                            {{ _("Kontaktformular für Geschäftspartner") }}
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <span class="bi-telephone-fill"></span>
                                    </div>
                                    <div class="col-10">
                                        <a href="tel:004935189670993">
                                            0351 89670993
					                    </a><br>
                                        {% if support_hotline_available %}
                                            <span class="support_hotline_available_green">&#x25cf;</span> <small>{{ _("Aktuell erreichbar") }}</small>
                                        {% else %}
					                        <small>{{ _("Montag und Donnerstag 19:00-20:00") }}</small>
                                        {% endif %}
                                    </div>
                                </div>
				<hr>

                                {% for address in config.CONTACT_ADDRESSES %}
                                    <div class="row">
                                        <div class="col-1">
                                            <span class="bi-house-door-fill"></span>
                                        </div>
                                        <div class="col-10">
                                            <address>
                                                <strong>{{ address.name }}</strong><br>

                                                {% if address.doorbell %}
                                                    {{ _("Klingel") }} {{ address.doorbell }}<br>
                                                {% endif %}

                                                {% if address.floor != None %}
                                                    {% if address.floor == 0 %}
                                                        {{ _("Erdgeschoss") }}
                                                    {% elif address.floor < 0 %}
                                                        {{ _("Keller") }}
                                                    {% else %}
                                                        {{ _("Etage") }} {{ address.floor }}
                                                    {% endif %}
                                                    <br/>
                                                {% endif %}

                                                {{ address.city }}

                                                {% if address.only_residents %}
                                                    <br/>
                                                    <u>{{ _('Nur für Bewohner des Hauses!') }}</u>
                                                {% endif %}
                                            </address>
                                        </div>
                                    </div>
                                {% endfor %}

                                <hr>

                                <div class="row">
                                    <div class="col-3 text-center">
                                        <a class="btn btn-social-icon btn-mastodon"
                                           href="https://social.anoxinon.de/@ag_dsn"
					   rel="me"
                                           aria-label="Mastodon">
                                            <span class="bi-mastodon" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a class="btn btn-social-icon btn-twitter"
                                           href="https://twitter.com/ag_dsn"
                                           aria-label="Twitter">
                                            <span class="bi-twitter" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a class="btn btn-social-icon btn-facebook"
                                           href="https://www.facebook.com/DresdnerStudentenNetz"
                                           aria-label="Facebook">
                                            <span class="bi-facebook" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a class="btn btn-social-icon btn-github"
                                           href="https://github.com/agdsn/sipa"
                                           aria-label="Github">
                                            <span class="bi-github" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="module hidden-xs">
                        <h2>
                            {{ _("Teamsitzungen") }}
                        </h2>

                        <hr class="full">
                        <ul>
                            {% if meetingcal %}
                                {% for meeting in meetingcal[:4] %}
                                <li><b>{{ meeting["title"] }}</b><br>
                                    {# Use time zone given in event #}
                                    {{ _(
                                        "Am %(date)s im %(loc)s",
                                        date=meeting["datetime"] | datetimeformat(format="short", rebase=False),
                                        loc=meeting["location_link"] | safe
                                    ) }}
                                </li>
                                {% endfor %}
                                <li><a href="{{ url_for('features.render_meetingcal') }}">{{ _("Mehr anzeigen") }}</a></li>
                            {% endif %}
                        </ul>


                    </div>
                </div>
            {% endblock %}
        </div>


    </div>
</div>

<footer>
    <div class="container text-center">
        <hr>
        <div class="row">
            <div class="col-lg-12 text-muted footer-below">
                <p>
                    AG DSN, {{ now.year }}.
                    <a href="{{ url_for('generic.version') }}">
                        {{ _("Informationen zur Version") }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
