<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
	
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Arbeitsgemeinschaft Dresdner Studentennetz, Sektion Wundtstraße">
	<meta name="author" content="AG DSN Administrators">
    
    <title>AG DSN Sektion Wundtstraße{% if page_title %} - {{ page_title }}{% endif %}</title>

	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("index") }}"><div id="logo"></div></a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-comment"></span> {{ _("News") }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('news.newest') }}">
                            <span class="glyphicon glyphicon-fast-backward"></span>&nbsp; {{ _("Neueste") }}</a></li>
                        <li><a href="{{ url_for('news.oldest') }}">
                            <span class="glyphicon glyphicon-fast-forward"></span>&nbsp; {{ _("Älteste") }}</a></li>
                        <li><a href="{{ url_for('news.display_all') }}">
                            <span class="glyphicon glyphicon-book"></span>&nbsp; {{ _("Alle") }}</a></li>
                    </ul>
                </li>
                {% for c in cf_pages %}
                {% if c.index %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" >{{ c.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for  article in c.articles_itterator()  %}
                        {% if not article.id == 'index' %}
                        <li>
                            <a href="
                                {% if not article.link %}
                                    {{url_for('pages.show', category_id=c.id, article_id=article.id) }}
                                {% else %}
                                    {{ article.link }}
                                {% endif %}">
                                <span class="glyphicon {{article.glyphicon}}"></span>
                                &nbsp; {{ article.title }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                <li>
                {% endif %}
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="caret"></span>
                        <img src="{{ url_for('static', filename='img/{}.png'.format(get_locale().language)) }}" />
                        {{ get_locale().display_name}}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for locale in possible_locales() %}
                        <li >
                            <a href="{{ url_for('set_language', lang=locale.language) }}">
                                <img src="{{ url_for('static', filename='img/{}.png'.format(locale.language)) }}" />
                                {{locale.display_name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

				</li>
                {% if current_user.is_anonymous() %}<li>
                    <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span>  {{ _("Login") }}</a>
                </li>{% else %}<li>
                    <a href="{{ url_for('usersuite.usersuite') }}"><span class="text-success"><span class="glyphicon glyphicon-user"></span> {{ current_user.name }}</span></a>
                </li><li>
                    <a href="{{ url_for('logout') }}"><span class="text-danger"><span class="glyphicon glyphicon-off"></span> {{ _("Logout") }}</span></a>
                </li>{% endif %}
            </ul>
        </div>
    </div>
</nav>    
	
<header class="pg-header">
	<div class="container">
		<h1>AG DSN Wundtstraße</h1>
		<p>Arbeitsgemeinschaft Dresdner Studentennetz, Sektion Wundtstraße</p>
	</div>
</header>


<div class="container">
	<div class="row">
		<div class="col-sm-3 col-sm-push-9">
			<div class="row">
				<div class="col-xs-6 col-sm-12">
					<a id="traffic_gauge_link" href="{{ url_for('usertraffic') }}"><div id="trafficgauge"></div>
                        <div class="text-center"><small>({{ _("Für Details klicken") }})</small></div>
					</a><br>

                    <div class="row">
                    {% if traffic().error == "foreign_ip" %}
                        <div class="text-danger text-center">
                            {{ _("Diese IP gehört nicht zum Netzwerk der Sektion") }}!
                        </div>
                    {% else %}
                        <div class="text-danger text-center">
                            {{ _("Es gab einen Fehler bei der Trafficabfrage") }}!
                        </div>
                    {% endif %}
                    </div>
				</div>
				
				<div class="col-xs-6 col-sm-12">
					<h2>{{ _("Kontakt") }} </h2>
					
					<div>
						<div class="row">
							<div class="col-xs-1">
								<span class="glyphicon glyphicon-envelope"></span>
							</div>
							<div class="col-xs-10">
								<a href="mailto:support@wh2.tu-dresden.de">support@wh2.tu-dresden.de</a>
							</div>
						</div>
						
						<br />
						
						<div class="row">
							<div class="col-xs-1">
								<span class="glyphicon glyphicon-home"></span>
							</div>
							<div class="col-xs-10">
                                <address>
                                    <strong>AG DSN</strong><br>
                                    Wundtstraße 5 <br>
                                    {{ _("Klingel") }} 0100<br>
                                    01217 Dresden<br>
                                </address>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
		<div class="col-sm-9 col-sm-pull-3">
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for cat, msg in messages %}
						{% if cat == 'error' %}{% set cat = 'danger' %}{% endif %}
						<div class="alert{% if cat and cat != 'message' %} alert-{{ cat }}{% else %} alert-info{% endif %}">
							{{ _(msg) }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>

<footer>
	<div class="container text-center">
        <hr>
        <div class="row">
            <div class="col-lg-12 footer-below">
                <p>AG DSN Sektion Wundtstraße, 2015.
                <br>Powered by <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</footer>

	<script type="text/javascript" src="{{ url_for("static", filename="js/jquery-2.1.1.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/raphael.2.1.0.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/justgage.1.0.1.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/agdsn.js") }}"></script>
    {% if not traffic().error %}
        {% set gauge_val = (traffic.exhausted/1024)|round(2) %}
        {% set gauge_max = (traffic.credit/1024)|round(2) %}
        {% set gauge_label = "GiB" %}
    {% else %}
        {% set gauge_val = "–" %}
        {% set gauge_max = 0 %}
        {% set gauge_label = "" %}
    {% endif %}
    <script type="text/javascript">
        $(function(){
            new JustGage({
                id: "trafficgauge",
                value: "{{ gauge_val }}",
                min: 0,
				relativeGaugeSize: true,
                max: {{ gauge_max }},
                title: "{{ _("Verbrauchter Traffic") }}",
                label: "{{ gauge_label }}"
            });
        });
    </script>
    {% block custom_script %}{% endblock %}
</body>
</html>
