{% extends "base.html" %}
{% set page_title = "News" %}

{% block content %}
    {% if articles %}{% for art in articles %}
        <h2>{{ art.title }}</h2>
        {% if art.outage or art.information or art.event %}
            <p>
            {%- for out in art.outage %}
                <span class="label label-danger">{{ out }}</span>
            {%- endfor %}
            {%- for info in art.information %}
                <span class="label label-warning">{{ info }}</span>
            {%- endfor %}
            {%- for ev in art.event %}
                <span class="label label-success">{{ ev }}</span>
            {%- endfor %}
            </p>
        {% endif %}
        {% if art.author -%}
            <small>{{ _("Geschrieben von") }} {{ art.author }}, {{ art.date }}.</small>
        {%- elif art.date -%}
            <small>{{ _("Vom")}} {{ art.date }}.</small>
        {%- endif %}
        <a href="{{ url_for('news.show_news', filename=art.file_basename) }}">
            <small>
                Permalink <span class="bi-link-45deg"></span>
            </small>
        </a>
        <hr />
        <div class="newsblock">{{ art.html|safe }}</div>

    {%- endfor %}{%- else -%}
        <div class="alert alert-info">
            {{ _("Keine News Vorhanden!") }}
        </div>
    {%- endif %}
    <nav>
        <ul class="pager">
        {% if previous_range -%}
            <li class="previous">
                <a href="{{ url_for(".show", start=previous_range.start, end=previous_range.end) }}">
                <span aria-hidden="true">&larr;</span>&nbsp;{{ _("Neuer") }}</a>
            </li>
        {%- endif %}

        {% if next_range -%}
            <li class="next">
                <a href="{{ url_for(".show", start=next_range.start, end=next_range.end) }}">
                {{ _("Älter") }}&nbsp;<span aria-hidden="true">&rarr;</span></a>
            </li>
        {%- endif %}
        </ul>
    </nav>
{% endblock %}
