{% extends "base.html" %}#
{% set page_title = "News" %}
{% macro panelclass(type) %}
    {% if type == 'alert' %}
        panel-danger
    {% elif type == 'warning' %}
        panel-warning
    {% elif type == 'info' %}
        panel-info
    {% elif type == 'good' %}
        panel-success
    {% else %}
        panel-default
    {% endif %}
{% endmacro %}

{% block content %}
    {% if articles %}{% for art in articles %}
        <h2>{{ art.title }}</h2>
        {% if art.outage or art.information or art.event %}
            <p>
            {%- for out in art.outage %}
                <span class="label label-danger">{{ out }}</span>
            {%- endfor %}
            {%- for info in art.information %}
                <span class="label label-warning">{{ info }}</span>
            {%- endfor %}
            {%- for ev in art.event %}
                <span class="label label-success">{{ ev }}</span>
            {%- endfor %}
            </p>
        {% endif %}
        {% if art.author -%}
            <small>{{ _("geschrieben von") }} {{ art.author }}, {{ art.date }}</small>
        {%- elif art.date -%}
            <small>{{ _("vom")}} {{ art.date }}</small>
        {%- endif %}
        <hr />
        <div>{{ art.html|safe }}</div>

        <br />
    {%- endfor %}{%- else -%}
        <div class="alert alert-info">
            {{ _("Keine News Vorhanden!") }}
        </div>
    {%- endif %}
    <nav>
        <ul class="pager">
        {% if previous_range -%}
            <li class="previous">
                <a href="{{ url_for(".display", start=previous_range.start, end=previous_range.end) }}">
                <span aria-hidden="true">&larr;</span>&nbsp;{{ _("Neuer") }}</a>
            </li>
        {%- endif %}

        {% if next_range -%}
            <li class="next">
                <a href="{{ url_for(".display", start=next_range.start, end=next_range.end) }}">
                {{ _("Älter") }}&nbsp;<span aria-hidden="true">&rarr;</span></a>
            </li>
        {%- endif %}
        </ul>
    </nav>
{% endblock %}
