{% extends "base.html" %}#
{% set page_title = _('Teamsitzungen') %}

{% block content %}
    {% include "heading.html" %}
    {% if meetings %}
        <table id="timetable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Team') }}</th>
                    <th>{{ _('Datum') }}</th>
                    <th>{{ _('Ort') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <td>{{ meeting["title"] }}</td>
                        <td>am {{ meeting["datetime"].strftime('%d.%m. um %H:%M') }} Uhr</td>
                        <td>{{ meeting["location_link"]|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div style="color: red;">{{ _('Fehler bei der Abfrage!') }}</div>
    {% endif %}

{% endblock %}
