{% extends "base.html" %}#
{% set page_title = _('Teamsitzungen') %}

{% block content %}
    {% include "heading.html" %}
    {% if meetings %}
        <div class="row">
            <div class="col-md-5">
                <table id="timetable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">{{ _('Team') }}</th>
                            <th class="col-md-3">{{ _('Datum') }}</th>
                            <th class="col-md-1">{{ _('Ort') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meeting in meetings %}
                            <tr>
                                <td>{{ meeting["title"] }}</td>
                                <td>{{ meeting["datetime"] }}</td>
                                <td>{{ meeting["location"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div style="color: red;">{{ _('Fehler bei der Abfrage!') }}</div>
    {% endif %}

{% endblock %}
