{% extends "base.html" %}
{% set page_title = _('Teamsitzungen') %}

{% block content %}
    {% include "heading.html" %}
    {% if meetings %}
        <table id="timetable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Team') }}</th>
                    <th>{{ _('Datum') }}</th>
                    <th>{{ _('Ort') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <td>{{ meeting["title"] }}</td>
                        {# Use time zone given in event #}
                        <td>{{ _(
                            "Am %(meeting_time)s",
                            meeting_time=meeting["datetime"]|datetimeformat(format="long", rebase=False)
                        ) }}</td>
                        <td>{{ meeting["location_link"]|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="text-danger">{{ _('Fehler bei der Abfrage!') }}</div>
    {% endif %}

{% endblock %}
