{% extends "base.html" %}#
{% set page_title = article.title %}
{% set page = article.localized_page %}

{% block content %}
    <h2>{{ page.meta.title }}</h2>
    {% if page.meta.outage or page.meta.information or page.meta.event %}
        <p>
        {% for out in page.meta.outage %}
            <span class="label label-danger">{{ out }}</span>
        {% endfor %}
        {% for info in page.meta.information %}
            <span class="label label-warning">{{ info }}</span>
        {% endfor %}
        {% for ev in page.meta.event %}
            <span class="label label-success">{{ ev }}</span>
        {% endfor %}
        </p>
    {% endif %}
    {% if page.meta.author %}
        <small>{{ _("Geschrieben von") }} {{ page.meta.author }}, {{ page.meta.date }}.</small>
    {% endif %}
    <hr />
    <div>{{ page.html|safe }}</div>
    <hr />
{% endblock %}

{% block dynamic_content %}
    {% if dynamic %}
        <div class="col-xs-6 col-sm-12">
            <div class="module">
                <h2>{{ title }}</h2>

                <hr class="full">

                <select id="dorm-select" class="form-control">
                    <option {% if default_dormitory %}selected{% endif %}>
                        {{ _("Wohnheim auswählen") }}
                    </option>
                    {% for dormitory in dormitories %}
                        <option value="{{ dormitory[0] }}"
                                {% if dormitory[0] == default_dormitory %}selected{% endif %}
                                >
                                {{ dormitory[1] }}
                        </option>
                    {% endfor %}
                </select>
                <hr>
                {% for dorm in dormitories %}
                    {% set dorm_id = dorm[0] %}
                    {% if dorm_id in values %}
                        <div class="dynamic-content" id="dynamic-{{ dorm_id }}" hidden>
                            {% for id, desc in values[dorm_id].items() %}
                                <dl id="dynamic-{{ dorm_id }}-{{ id }}">
                                    <dt>{{ keys[id] }}</dt>
                                    <dd><code>{{ desc }}</code></dd>
                                </dl>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_script -%}
<script type="text/javascript">
    $("#dorm-select").change(function(){
        selected = $("select#dorm-select").find(":selected").prop("value");
        $(".dynamic-content").hide();
        $("#dynamic-" + selected).show();
    });
    $("#dorm-select").on("load", function() {}).triggerHandler("change")
</script>
{%- endblock %}
