{% extends "base.html" %}
{% set page_title = "Usertraffic" %}

{% block content %}

    {% if user_id %}
        <h2>{{ _("Nutzer-ID") }}</h2>
        <p class="lead">
            {{ _("Deine Nutzer-ID lautet") }}
            <strong><code class="text-bold">{{ user_id }}</code></strong>
        </p>
    {% endif %}
    {% include '_traffic.html' %}
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/svg.jquery.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/pygal-tooltips.js") }}"></script>
{% endblock %}
