{% extends "base.html" %}
{% set page_title = "Version" %}

{% block content %}
    <h2>Current version</h2>
        <b>Branch running: {{ active_branch }}</b>

    {% if commits %}
        <table class="table table-striped table-bordered col-md-8">
            <thead><tr>
                <td>commit date</td>
                <td>latest commits</td>
                <td>message</td>
                <td>author</td>
            </tr></thead>
            {% for commit in commits %}
                <tr>
                    <td>{{ commit['date'] }}</td>
                    <td><a href="https://github.com/agdsn/sipa/commit/{{ commit['hexsha'] }}">
                            {{ commit['hexsha'][:8] }}</a>
                        </td>
                    <td>{{ commit['message'] }}</td>
                    <td>{{ commit['author'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}