<h3>{{ _('Dein Traffic') }}</h3>
<table class="table table-striped table-bordered col-md-8">
    <thead><tr>
        <th>{{ _('Wochentag') }}</th>
        <th>Download</th>
        <th>Upload</th>
        <th>Gesamt</th>
        <th>Credit</th>
    </tr></thead>
    {% for day in usertraffic['history'] %}
        <tr>
            <td>{{ _(day[0]) }}</td>
            <td>{{ day[1] }}{# Input #} MB</td>
            <td>{{ day[2] }}{# Output #} MB</td>
            <td>{{ day[1]+day[2] }}{# Throughput #} MB</td>
            <td>{{ day[3] }}{# Credit #} MB</td>
        </tr>
    {% endfor %}
        <tr>
            <td id="usersuite-traffic-sum" colspan="4">{{ _("Verbleibender Credit") }}</td>
            <td>{{ usertraffic.credit }} MB</td>
        </tr>
</table>