
{% if port_forwarding is not none %}
    {% if edit %}
<tr>
<form>
    {{ form.csrf_token }}
    <td>
        <input type="number" min="1" name="source_port" hx-post="/control/port" hx-trigger="change" hx-target="next .error-label" hx-swap="innerHTML" value="{{ port_forwarding[0] }}">
        <label class='error-label' for="source_port"></label>
        <input name="old_source_port" value="{{ port_forwarding[0] }}" hidden="">
    </td>
    <td>
        <input type="number" min="1" name="dest_port" hx-post="/control/port" hx-target="next .error-label" hx-swap="innerHTML" value="{{ port_forwarding[1] }}">
        <label class='error-label' for="dest_port"></label>
        <input name="old_dest_port" type="number" value="{{ port_forwarding[1] }}" hidden="">
    </td>
     <td>
         <input type="text" name="ip_address" placeholder="source ip" hx-post="/control/ip" value="{{ port_forwarding[2] }}">
         <input name="old_ip_address" value="{{ port_forwarding[2] }}" hidden="">
     </td>
    <td>
         <label for="udp">UDP</label>
         <input type="radio" name="prot" value="udp" {% if port_forwarding[3] =="UDP" %}checked{% endif %}>
         <label for="tcp">TCP</label>
         <input type="radio" name="prot" value="tcp" {% if port_forwarding[3] =="TCP" %}checked{% endif %}>
    <input name="old_port" value="{{ port_forwarding[3] }}" hidden="">
    </td>
</form>
    <td><button class="edit-button success" hx-post="/usersuite/port-forward-edit" hx-target="closest tr" hx-include="closest tr"  hx-swap="outerHTML swap:200ms">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <button class="edit-button error-label" type="submit">
        <span class=" glyphicon glyphicon-remove"></span>
    </button>
    </td>

</tr >
{% else %}
        <tr>
        <form>

            <td>
                <label>{{ port_forwarding[0] }}</label>
                <input name="source_port" value="{{ port_forwarding[0] }}" hidden="">
            </td>
            <td>
                <label >{{ port_forwarding[1] }}</label>
                <input name="dest_port" type="number" value="{{ port_forwarding[1] }}" hidden="">
            </td>
            <td>
                <label >{{ port_forwarding[2] }}</label>
                <input name="ip_address" value="{{ port_forwarding[2] }}" hidden="">
            </td>

            <td>
                <label>{{ port_forwarding[3] }}</label>
                <input name="prot" type="radio" value="{{ port_forwarding[3] }}"  checked hidden="">
            </td>
            </form>
            <td>
                <button class="edit-button edit-pen" aria-label="edit" hx-post="/usersuite/get_row" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML swap:200ms">
                <span class="glyphicon glyphicon-pencil pull-left"></span>
                </button>
                <button class="edit-button error-label" hx-confirm="{{ _("wollen sie die port Weiterleitung wirklich löschen?") }}" hx-delete="/usersuite/port-forward/{{ port_index }}" hx-target="closest tr">
                <span class="glyphicon glyphicon-trash pull-right"></span>
                </button>
            </td>
        </tr>
        {% endif %}
{% else %}

<tr>
<form name="radio_form">
    {{ form.csrf_token }}
    <td>
        <input type="number" min="1" name="source_port" hx-post="/control/port" hx-trigger="keyup delay:200ms" hx-target="next .error-label" hx-swap="innerHTML">
        <label class='error-label'></label>
    </td>
         <td>
             <input type="number" min="1" id="dest_port" name="dest_port" hx-post="/control/port" hx-trigger="keyup delay:200ms" hx-target="next .error-label" hx-swap="innerHTML">
             <label class='error-label' for="dest_port"></label>
    </td>
     <td>
         <input type="text" name="ip_address" placeholder="{{ _("Ziel IP") }}" hx-post="/control/ip" hx-trigger="keyup delay:200ms" hx-target="next .error-label" hx-swap="innerHTML">
        <label class='error-label'></label>
     </td>
    <td>
        <fieldset>
         <label for="udp">UDP</label>
         <input type="radio" name="prot" value="udp" checked>
         <label for="tcp">TCP</label>
         <input type="radio" name="prot" value="tcp">
        </fieldset>
    </td>
    </form>
    <td>
        <button class="edit-button success" hx-post="/usersuite/add-port-forward" hx-swap="outerHTML swap:200ms" hx-include="closest tr" hx-target="closest tr">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
        <button class="edit-button error-label" hx-delete="/control/delete"  hx-swap="outerHTML swap:200ms" hx-target="closest tr" >
            <span class=" glyphicon glyphicon-remove"></span>
        </button>
    </td>
</tr>

{% endif %}
