<h2>{{ _("Statusinformationen") }}</h2>
<p>
    {% if current_user.can_change_password %}
    <a href="{{ url_for(".usersuite_change_password") }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _("Passwort ändern") }}
    </a>
    {% else %}
    <a class="btn btn-default" disabled title="{{ _('Nicht unterstützt') }}">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _("Passwort ändern") }}
    </a>
    {% endif %}
    <a href="{{ url_for(".usersuite_contact") }}" class="btn btn-default">
        <span class="glyphicon glyphicon-envelope"></span>
        {{ _("Kontaktformular") }}
    </a>
</p>

{% macro color_class(status_color) %}
{% if status_color == STATUS_COLORS.GOOD %}
    text-success
{% elif status_color == STATUS_COLORS.BAD %}
    text-danger
{% elif status_color == STATUS_COLORS.WARNING %}
    text-warning
{% elif status_color == STATUS_COLORS.INFO %}
    text-info
{% endif %}
{% endmacro %}

{% macro format_empty(msg) %}
  {% if not msg %}
    <em class="text-muted">{{ _("Nicht angegeben") }}</em>
  {% else %}
    {{ msg }}
  {% endif %}
{% endmacro %}

<table class="table table-striped table-bordered table-hover">
    <thead><tr><th>Eigenschaft</th><th>Wert</th></tr></thead>
    {% for description, property in rows %}
    <tr>
        <td class="col-md-3">{{ description }}</td>
        {%- set style = ("text-{}".format(property.style) if property.style else '') %}
        <td class="col-md-3 {{ style }}">
            {{ property.value }}

            {% if property.capabilities.edit %}
                <a href="{{ url_for(get_attribute_endpoint(property.name)) }}">
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                </a>
            {% endif %}

            {% if property.capabilities.delete %}
                <a href="{{ url_for(get_attribute_endpoint(property.name, capability='delete')) }}">
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
