<h2 id="payment-details">{{ _("Zahlungsdetails") }}</h2>
<form action="#payment-details" method="post">
    {{ _("Beitrag für") }}
    {{ payment_form.months(class_="form-control",style="width:100px;display:inline;") }}
    {{ _("Monat(e) zahlen.") }}
    <button type="submit">{{ _("aktualisieren") }}</button><br>
</form>
<div class="panel panel-default">
    <table class="panel-body table table-striped table-hover">
        <tbody>
            {% for key, value in payment_details.items() %}
            <tr>
                <td class="col-md-3">{{ key }}</td>
                <td class="col-md-3">{{ value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="col-md-3">{{ _("Giro-Code") }}<br>
                    <i>{{ _("Nutze den Giro-Code, um die Überweisungsdaten automatisch in deine Banking-App zu übernehmen.") }}</i>
                </td>
                <td class="col-md-3"><img src="{{ qrcode(girocode) }}" height="100px"></td>
            </tr>
        </tbody>
    </table>
</div>
