<h2 id="payment-details">{{ _("Zahlungsdetails") }}</h2>
<form
    hx-get="{{ url_for('usersuite.payment_details_table') }}"
    hx-trigger="load, submit, input from:input changed"
    hx-target="#payment-details-table"
    hx-swap="innerHTML"
    hx-include="this"
    class="form-inline"
    aria-label="{{ _("Monate der Beitragszahlung angeben") }}">
    <div class="input-group">
        <div class="input-group-text">{{ _("Beitrag für") }}</div>
        <input type="number" name="months" class="form-control" value="6"></input>
        <div class="input-group-text">{{ _("Monat(e) zahlen.") }}</div>
    </div>
</form>
<br>

<div id="payment-details-table" class="card">
</div>
