<div id="port_forward">
<h2 id="port-forwardings">port forwardings</h2>
{% if table %}
<div class="panel panel-default">
    <table class="panel-body table table-striped">
        <thead>
            <tr>
            <th>{{ _("source port") }}</th>
            <th>{{ _("destination port") }}</th>
            <th>{{ _("source ip") }}</th>
            <th>{{ _("protokoll") }}</th>
            <th>{{ _("option") }}</th>
            </tr>
        </thead>
        {% if  port_forwadings  is not none %}
            {% for port_forwad in port_forwardings %}
        <tr hx-get="/usersuite/get_row" hx-trigger="" hx-target="this" hx-swap="outerHTML">
            <td>
                <label>{{ port_forwad[0] }}</label>
            </td>
            <td>
                <label >{{ port_forwad[1] }}</label>
            </td>
            <td><label >{{ port_forwad[2] }}</label></td>
            <td>
                <label>{{ port_forwad[3] }}</label>
            </td>
            <td>
                <button class="edit-button" aria-label="edit">
                <span class="glyphicon glyphicon-pencil pull-right"></span>
                </button>
            </td>
        </tr>

            {% endfor %}
        {% endif %}
        <tr hx-get="/usersuite/get_row" hx-swap="beforebegin">
            <td colspan="3"><button type="submit">add new port forwardings</button></td>
            <td colspan="2"><button hx-post="/usersuite/show-port-forwardings" hx-target="#port_forward" hx-swap="outerHTML" hx-params="hide">hide</button></td>
        </tr>
    </table>
</div>
{% else %}
    <button hx-get="/usersuite/show-port-forwardings" hx-target="#port_forward" hx-swap="outerHTML" hx-params="show">show table</button>
{% endif %}
</div>