{% macro value_context(value) -%}
    {% if value < 0 -%}
        danger
    {%- else -%}
        success
    {%- endif %}
{%- endmacro %}

{% set info = finance_information %}
<h2 id="transaction-log">{{ _("Buchungen") }}</h2>
<p>{{ _("Hinweis: Es kann bis zu 7 Tage dauern, bis eine Überweisung von uns erfasst wird.") }}</p>
<div class="card">
    <table class="card-body table table-borderless table-hover mb-0">
        <thead>
            <tr>
                <th>{{ _("Datum") }}</th>
                <th>{{ _("Referenz") }}</th>
                <th>{{ _("Wert") }}</th>
            </tr>
        </thead>

        <tbody>
            {% for log in info.transactions %}
                <tr class="table-{{ value_context(log.amount) }}">
                    <td>{{ log.valid_on | date }}</td>
                    <td>{{ log.description }}</td>
                    <td class="text-end">{{ log.amount | money }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><strong>{{ _("Summe") }}</strong> <em class="text-muted pull-right">{{ _("Stand") }} {{ info.last_update | date }}</em></td>
                <td class="text-end text-{{ value_context(info.balance) }}"><strong>{{ info.balance | money }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
