{% extends "base.html" %}#
{% import "macros/forms.html" as forms %}
{% set page_title = _("MAC-Adresse ändern") %}

{% block content %}
{% call forms.render(form=form, form_id="change-mac-form", cancel_to=url_for('.usersuite')) -%}
        <div class="col-sm-offset-2 col-sm-10 alert alert-info">
            {{ _('Hinweis: Bei einer Änderung der MAC-Adresse wird automatisch eine Benachrichtigungsmail an uns gesandt.') }}
        </div>
        <div class="col-sm-offset-2 col-sm-10 alert alert-warning">
            {{ _('Bitte beachtet, dass Nach-/Untermieter einen eigenen Account brauchen. Es ist nicht zulässig, den eigenen Account weiterzugeben.') }}
            {{ _('Solltet ihr euren Account mit anderen teilen (ihn weitergeben, fremde MAC-Adressen eintragen), haftet weiterhin ihr als der Accountinhaber für alle Aktivitäten des Accounts!') }}
        </div>
    {%-endcall %}

{% endblock %}
