{% extends "base.html" %}#
{% import "macros/forms.html" as forms %}
{% set page_title = _("Cache-Nutzung ändern") %}

{% block content %}
{% call forms.render(form=form, form_id="change-use-cache-form", cancel_to=url_for('.index')) -%}
        <div class="{{ form_input_offset_class }} {{ form_input_width_class }} alert alert-info">
            <a href="{{ url_for('pages.show', category_id='service', article_id='cache') }}"> {{ _('Infos zu den unterstützten Services und zur Funktionsweise des Caches findest Du hier.') }} </a><br>
        </div>

        <div class="{{ form_input_offset_class }} {{ form_input_width_class }} alert alert-warning">
            {{ _('Bitte beachte, dass diese Funktion deine Clients beeinträchtigen kann. Sollten Probleme auftreten, kontaktiere uns, der Hersteller-Support wird dir nicht helfen können.') }}
        </div>
{%-endcall %}

{% endblock %}
