{% extends "generic_form.html" %}
{% set page_title = _("Kontakt für Mitglieder") %}

{% block form_content %}
    <div id="hints" class="{{ form_input_offset_class }} {{ form_input_width_class }}"></div>

    <div class="{{ form_input_offset_class }} {{ form_input_width_class }} alert alert-info">
        <strong>{{ _("Hinweise:")}}</strong>
        <ul>
            <li>{{ _("Dein Username wird an die Nachricht angehängt.") }}</li>
            <li>{{ _("Die Antwort erhältst Du per Mail.") }}</li>
            <li>{{ _("Du kannst eine Weiterleitung deiner AGDSN-Mails "
                     "in den Benutzereinstellungen einrichten.") }}</li>
        </ul>
    </div>
{% endblock %}

{% block custom_script %}
    <script defer src="{{ url_for("static", filename="js/contact-hints.js") }}"></script>
{% endblock %}
