{% extends "base.html" %}#
{% set page_title = _("Finanzlogs") %}

{% macro value_context(value) -%}
    {% if value < 0 -%}
        danger
    {%- else -%}
        success
    {%- endif %}
{%- endmacro %}

{% block content %}
    <h2>{{ _("Deine Transaktionen") }} <small>{{ _("Stand") }}: {{ last_update | date }}</small></h2>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{{ _("Datum") }}</th> <th>{{ _("Wert") }}</th>
            </tr>
        </thead>

        <tbody>
            {% for date, value in logs %}
                <tr class="{{ value_context(value) }}">
                    <td>{{ date | date }}</td>
                    <td>{{ value | money }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfooter>
            <tr style="font-weight: bold">
                <td>{{ _("Summe") }}:</td>
                <td class="text-{{ value_context(balance) }}">{{ balance | money }}</td>
            </tr>
        </tfooter>
    </table>

    <a class="btn btn-default" href="{{ url_for('usersuite.usersuite') }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        {{ _("Zurück") }}
    </a>
{% endblock %}
