{% import "macros/forms.html" as forms %}
{% extends "base.html" %}#
{% set page_title = _("MySQL Datenbank") %}

{% block content %}
    {% if action == 'delete' %}
        <div class="alert alert-warning">
            {{ _('Willst Du deine Datenbank wirklich löschen?') }}
            <a href="{{ url_for('.hosting', action='confirm') }}">
                {{ _('Jawohl!') }}
            </a>
        </div>
    {% endif %}

    <div class="well">
        {{ _("Du kannst auf unserem Server eine MySQL-Datenbank anlegen.") }}
        {{ _("Weitere Infos zum Webhosting findest Du ") }}
        <a href={{ url_for('pages.show', category_id="service", article_id="hosting") }}>
            {{ _("hier") }}</a>.
    </div>

    {% if not user_has_db %}
        <div class="panel panel-info">
            <div class="panel-heading">{{ _("Datenbank Erstellen") }}</div>
            <div class="panel-body">
                <div id="create-mysql-form">
                    {% call forms.render(form=form, form_id="hosting-form",
                        cancel_to=url_for('.usersuite')) %}
                        {{ form.action(value="create") }}
                    {% endcall %}
                </div>
            </div>
        </div>
    {% else %}

        <div class="panel panel-warning">
            <div class="panel-heading">{{ _("Deine Datenbank") }}</div>

            <div class="panel-body">
                <div class="form container col-sm-10">
                    <div class="form-group">
                            {{ _("Hier kannst Du Deine Datenbank löschen:") }}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="{{ url_for('usersuite.hosting', action='delete') }}"
                               class="btn btn-danger">
                               <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                               {{ _("Datenbank löschen") }}
                            </a>
                        </div>
                </div></div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">{{ _("Passwort Ändern") }}</div>
            <div class="panel-body">
                <div id="change-mysql-form">
                    {% call forms.render(form=form, form_id="hosting-form",
                        cancel_to=url_for('.usersuite')) %}
                    {% endcall %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
