{% extends "base.html" %}
{% set page_title = _('Usersuite von ') + current_user.realname.value %}

{% block content %}
    {% include 'usersuite/_index_status.html' %}
    {% include 'usersuite/_payment_details.html' %}
    {% if show_traffic_data %}
    {% include '_traffic.html' %}
    {% endif %}
    {% if show_transaction_log %}
    {% include 'usersuite/_transaction_log.html' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <nav class="nav nav-pills sticky-top d-none d-lg-block">
        <a class="nav-link" href="#hot-buttons">{{ _("Häufige Aktionen") }}</a>
        <a class="nav-link" href="#status-information">{{ _("Statusinformationen") }}</a>
        <a class="nav-link" href="#payment-details">{{ _("Zahlungsdetails") }}</a>
        <a class="nav-link" href="#traffic">{{ _('Dein Traffic') }}</a>
        <a class="nav-link ms-3" href="#traffic-table">{{ _('Traffic Tabelle') }}</a>
        <a class="nav-link ms-3" href="#traffic-chart">{{ _('Traffic Diagramm') }}</a>
        <a class="nav-link" href="#transaction-log">{{ _('Buchungen') }}</a>
    </nav>
{% endblock %}

{% block custom_script %}
    <script defer src="{{ url_for("static", filename="js/usersuite_index.js") }}"></script>
    <script defer src="{{ url_for("static", filename="js/pygal-tooltips.min.js") }}"></script>
{% endblock %}
