{% extends "base.html" %}#
{% set page_title = _('Usersuite von ') + current_user.realname.value %}

{% block content %}
    {% include 'usersuite/_index_status.html' %}
    {% include 'usersuite/_payment_details.html' %}
    {% if show_traffic_data %}
    {% include '_traffic.html' %}
    {% endif %}
    {% if show_transaction_log %}
    {% include 'usersuite/_transaction_log.html' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <nav id="usersuite-sidebar-nav" class="hidden-xs hidden-print"></nav>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-toc.min.css") }}"/>
    <style>
        #usersuite-sidebar-nav .nav>li>a {
            font-size: 20px;
        }
        #usersuite-sidebar-nav .nav .nav>li>a {
            font-size: 19px;
        }
        h2,h3 {
            padding-top: 70px;
            margin-top: -50px;
        }
    </style>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap-toc.min.js") }}"></script>
    <script type="text/javascript">
        $(function() {
            var selector = '#usersuite-sidebar-nav';
            var $toc = $(selector);
            var $parent = $toc.parent();
            var offset = 60;
            var $body = $('body');
            Toc.init($toc);
            $body.scrollspy({
                target: selector,
                offset: offset
            });
            $toc.affix({
                offset: {
                    top: function() {
                        return $parent.offset().top - offset;
                    }
                }
            });
            // Handle window resize
            $(window).resize(function(){
                $toc.affix('checkPosition');
            });
        });
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/svg.jquery.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/pygal-tooltips.js") }}"></script>
{% endblock %}
