{% extends "base.html" %}

{% import "macros/forms.html" as forms %}
{% set page_title = _("MPSK Wi-Fi MAC-Adresse ändern") %}
{% block content %}
    {% include "heading.html" %}
    <table class="table table-striped">
    <tr>
        <th>{{ _("Greät") }}</th>
        <th>{{ _("Wi-Fi MAC") }}</th>
        <th>{{ _("Aktion") }}</th>
    </tr>
        {% for client in clients %}
    <tr>

            <td>{{ client[0] }}</td>
            <td>{{ client[1] }}</td>
        <td><a>Haööü</a>/td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
        <span class="bi-plus-square-fill ms-auto"></span>
        </td>
    </tr>
    </table>

{% endblock %}

