{% extends "base.html" %}

{% import "macros/forms.html" as forms %}
{% set page_title = _("MPSK Wi-Fi Geräte") %}
{% block content %}
    {% include "heading.html" %}
    <table class="table table-striped">
    <tr>
        <th>{{ _("Greät") }}</th>
        <th>{{ _("Wi-Fi MAC") }}</th>
        <th>{{ _("Aktion") }}</th>
    </tr>
        {% for client in clients %}
    <tr>

            <td>{{ client[0] }}</td>
            <td>{{ client[1] }}</td>
        <td>
            <a href="{{ url_for('usersuite.change_mpsks', name=client[0], mac=client[1]) }}">
                <span class="bi-pencil-fill ms-auto"></span>
            </a>
            <a href="{{ url_for('usersuite.delete_mpsk', mac=client[1]) }}">
                <span class="bi-trash-fill ms-auto"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3" class="text-center">
            <a href="{{ url_for('usersuite.add_mpsks') }}" class="align-items-center " >
                <span class="bi-plus-square-fill ms-auto"></span>
            </a>
        </td>
    </tr>
    </table>

{% endblock %}

