{% extends "base.html" %}#
{% block content %}
    <h2 id="status-information">{{ _("Zahlungsdetails für ") + realname }}</h2>
    <div class="panel panel-default">
        <table class="panel-body table table-striped table-hover">
            <tbody>
                {% for key, value in payment_details.items() %}
                <tr>
                    <td class="col-md-3">{{ key }}</td>
                    <td class="col-md-3">{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
