global
    log stdout format raw local0
    maxconn 2000

defaults
    log     global
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend https_in
    bind *:443 ssl crt /etc/haproxy/certs/dev-cert.pem
    bind *:80
    mode http

    # Header setzen (wie proxy_set_header)
    http-request set-header Host %[req.hdr(host)]
    #http-request set-header X-Forwarded-Proto http
    http-request add-header X-Forwarded-For %[src]

    http-request set-header X-Script-Name /sipa
    http-request set-header X-Forwarded-Proto https

    # URL-Rewrite: / → /sipa/
    acl is_root path -i /
    #http-request redirect location /sipa/ code 301 if is_root
    # Header setzen
    #http-request set-header X-Served-By haproxy
    #http-request set-header X-Forwarded-Proto https
    #http-request add-header Strict-Transport-Security "max-age=31536000; includeSubDomains"

    default_backend app_backend

backend app_backend
    mode http
    #option http-server-close
    option forwardfor
    #http-request return status 200 content-type "text/plain" string "Hello from HAProxy\n"
    server app1 nginx:8000 check
