<div class="row">
    <div class="col-md-7">
        <h3>{{ _('Dein Traffic') }}</h3>
        <table class="table table-striped table-bordered col-md-8">
            <thead>
                <th>{{ _('Wochentag') }}</th>
                <th>Download</th>
                <th>Upload</th>
                <th>Gesamt</th>
            </thead>
            {% for e in usertraffic['history'][0] %}
                <tr>
                    <td>{{ _(e) }}</td>
                    <td>{{ usertraffic['history'][1][loop.index0] }} MB</td>
                    <td>{{ usertraffic['history'][2][loop.index0] }} MB</td>
                    <td>{{ usertraffic['history'][1][loop.index0] + usertraffic['history'][2][loop.index0] }} MB</td>
                </tr>
            {% endfor %}
            <tr>
                <td id="usersuite-traffic-sum" colspan="4">{{ _('Verbrauch') }}: {{ usertraffic['total'] }} MB, {{ usertraffic['percent'] }}% {{ _('von 14 GB') }}</td>
            </tr>
        </table>

        <img src="{{ url_for('trafficpng') }}" />
    </div>
</div>