<div class="row">
    <div class="col-md-7">
        <h3>{{ _('Dein Traffic') }}</h3>
        <table class="table table-striped table-bordered col-md-8">
            <thead>
                <th>{{ _('Wochentag') }}</th>
                <th>Download</th>
                <th>Upload</th>
                <th>Gesamt</th>
                <th>Credit</th>
            </thead>
            {% for day in usertraffic['history'] %}
                <tr>
                    <td>{{ _(day[0]) }}</td>
                    <td>{{ day[1] }}{# Input #} MB</td>
                    <td>{{ day[2] }}{# Output #} MB</td>
                    <td>{{ day[1]+day[2] }}{# Throughput #} MB</td>
                    <td>{{ day[3] }}{# Credit #} MB</td>
                </tr>
            {% endfor %}
        </table>

        <img src="{{ url_for('trafficpng') }}" />
    </div>
</div>