{% extends "base.html" %}#
{% set page_title = _("Password ändern") %}

{% block content %}
    <div id="change-password-form">
        <form action="" method="post" class="form">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>{{ _('Dein altes Passwort') }}</label>
                    {{ form.old(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>{{ _('Dein neues Passwort') }}</label>
                    {{ form.new(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>{{ _('Bestätigung des neuen Passworts') }}</label>
                    {{ form.new2(class="form-control") }}
                </div>
            </div>
            <button type="submit" class="btn btn-default">{{ _('Abschicken') }}</button>
            <button type="reset" class="btn btn-default">{{ _('Zurücksetzen') }}</button>
        </form>
    </div>
{% endblock %}
