{% extends "base.html" %}#
{% set page_title = "Usersuite - Kontakt" %}

{% block content %}
    <div id="contact-form">
        <form action="" method="post" id="usersuite-contact-form" class="form">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Deine E-Mail-Adresse</label>
                    {{ form.email(class="form-control", type="email", value=current_user.uid+"@wh2.tu-dresden.de") }}
                </div>
                <div class="col-md-3 form-group">
                    <label>Betreff deiner Nachricht</label>
                    {{ form.type(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Deine Nachricht an uns</label>
                    {{ form.message(class="form-control", rows=5) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Hinweis: Zusätzlich zu deiner Nachricht wird deine User-ID, dein Wohnheim sowie dein Echtname an die Nachricht angehängt.
                </div>
            </div>
            <button type="submit" class="btn btn-default">Abschicken</button>
            <button type="reset" class="btn btn-default">Zurücksetzen</button>
        </form>
    </div>
{% endblock %}
