{% extends "base.html" %}#
{% set page_title = _('Usersuite von ') + current_user.name %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped table-bordered">
                <tr>
                    <td class="col-md-2">{{ _('Nutzer-ID') }}</td>
                    <td class="col-md-5">{{ userinfo.id }}</td>
                </tr>
                <tr>
                    <td>{{ _('Accountname') }}</td>
                    <td>{{ current_user.uid }}</td>
                </tr>
                <tr>
                    <td>{{ _('Accountstatus') }}</td>
                    <td>{{ _(userinfo.status) }}</td>
                </tr>
                <tr>
                    <td>{{ _('Aktuelles Zimmer') }}</td>
                    <td>{{ userinfo.address }}</td>
                </tr>
                <tr>
                    <td>{{ _('Aktuelle IP-Adresse') }}</td>
                    <td>{{ userinfo.ip }}</td>
                </tr>
                <tr>
                    <td>{{ _('Aktuelle MAC-Adresse') }}</td>
                    <td>{{ userinfo.mac }}</td>
                </tr>
                <tr>
                    <td>{{ _('E-Mail-Weiterleitung') }}</td>
                    <td>{% if current_user.mail %}{{ current_user.mail }}{% else %}{{ _('Nicht eingerichtet') }}{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div id="usersuite-trafficgraph" class="col-md-7">
            <h2>{{ _('Dein Traffic') }}</h2>
                <table class="table table-striped table-bordered col-md-8">
                    <thead>
                        <th class="">{{ _('Wochentag') }}</th>
                        <th class="">Download</th>
                        <th>Upload</th>
                        <th>Gesamt</th>
                    </thead>
                    {% for e in usertraffic[0] %}
                        <tr>
                            <td>{{ _(e) }}</td>
                            <td>{{ usertraffic[1][loop.index0] }} MB</td>
                            <td>{{ usertraffic[2][loop.index0] }} MB</td>
                            <td>{{ usertraffic[1][loop.index0] + usertraffic[2][loop.index0] }} MB</td>
                        </tr>
                    {% endfor %}
                </table>

                <img src="{{ url_for('usersuite_trafficpng') }}" />
        </div>
    </div>

{% endblock %}
