{% extends "base.html" %}#
{% set page_title = _('Usersuite von ') + current_user.name %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped table-bordered">
                <tr>
                    <td class="col-md-2">{{ _('Nutzer-ID') }}</td>
                    <td class="col-md-5">{{ userinfo.id }}-{{ userinfo.checksum }}</td>
                </tr>
                <tr>
                    <td>{{ _('Accountname') }}</td>
                    <td>{{ current_user.uid }}</td>
                </tr>
                <tr>
                    <td>{{ _('Accountstatus') }}</td>
                    <td>{{ _(userinfo.status) }}</td>
                </tr>
                <tr>
                    <td>{{ _('Aktuelles Zimmer') }}</td>
                    <td>{{ userinfo.address }}</td>
                </tr>
                <tr>
                    <td>{{ _('Aktuelle IP-Adresse') }}</td>
                    <td>{{ userinfo.ip }}</td>
                </tr>
                <tr>
                    <td>{{ _('Aktuelle MAC-Adresse') }}</td>
                    <td>{{ userinfo.mac }}</td>
                </tr>
                <tr>
                    <td>{{ _('E-Mail-Weiterleitung') }}</td>
                    <td>{% if current_user.mail %}{{ current_user.mail }}{% else %}{{ _('Nicht eingerichtet') }}{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>

    {% include 'drafts/usertraffic_table_graph.html' %}

{% endblock %}
