{% extends "base.html" %}#
{% set page_title = _('Ansprechpartner') %}

{% block content %}
<h3>{{ _('Allgemeine Ansprechpartner') }}</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ _('Bereich') }}</th>
        <th>{{ _('Verantwortliche') }}</th>
        <th>E-Mail</th>
    </tr>
    </thead>
    <tr>
        <td>{{ _('Vorstand') }}</td>
        <td>&nbsp;</td>
        <td>vorstand@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>{{ _('Finanzen') }}</td>
        <td>&nbsp;</td>
        <td>finanzen@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>Hardware</td>
        <td>&nbsp;</td>
        <td>hardware@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>{{ _('Öffentlichkeitsarbeit') }}</td>
        <td>&nbsp;</td>
        <td>oea@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>&nbsp;</td>
        <td>webmaster@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>{{ _('Nutzerverwaltung') }}</td>
        <td>&nbsp;</td>
        <td>nutzer@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>Abuse</td>
        <td>&nbsp;</td>
        <td>abuse@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>{{ _('Server & Dienste') }}</td>
        <td>&nbsp;</td>
        <td>software@wh2.tu-dresden.de</td>
    </tr>
    <tr>
        <td>FTP-Server</td>
        <td>&nbsp;</td>
        <td>ftpadmin@wh2.tu-dresden.de</td>
    </tr>
</table>

<h3>{{ _('Hausadmins') }}</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ _('Haus') }}</th>
        <th>{{ _('Ansprechpartner') }}</th>
    </tr>
    </thead>
    <tr>
        <td>Wundtstraße 1</td>
        <td>Matthias Nicolai, Marco Petrick, Axel Rothe</td>
    </tr>
    <tr>
        <td>Wundtstraße 3</td>
        <td>Maximilian Marx, Adam Kalisz, Joshua Blöcker, Friedrich Zahn</td>
    </tr>
    <tr>
        <td>Wundtstraße 5</td>
        <td></td>
    </tr>
    <tr>
        <td>Wundtstraße 7</td>
        <td>Tim Fleck, Christian Rose, Frank Knietzsch</td>
    </tr>
    <tr>
        <td>Wundtstraße 9</td>
        <td>Felix Kluge, Felix Wollert</td>
    </tr>
    <tr>
        <td>Wundtstraße 11</td>
        <td></td>
    </tr>
    <tr>
        <td>Zellescher Weg</td>
        <td>Sven Johannsen, Tim Kluge</td>
    </tr>
</table>
{% endblock %}
