{% extends "base.html" %}#
{% set page_title = "Ansprechpartner" %}

{% block content %}
<div class="content-section">
    <h2>Allgemeine Ansprechpartner</h2>
    <table class="contacts jobs">
        <thead>
        <tr>
            <th>Bereich</th>
            <th>Verantwortliche</th>
            <th>E-Mail</th>
        </tr>
        </thead>
        <tr>
            <td>Vorstand</td>
            <td>Dominik Pataky, Felix Kluge</td>
            <td>vorstand@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Finanzen</td>
            <td>Felix Wollert</td>
            <td>finanzen@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Hardware</td>
            <td>Maximilian Marx</td>
            <td>hardware@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Öffentlichkeitsarbeit</td>
            <td>&nbsp;</td>
            <td>oea@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Website</td>
            <td>Diverse</td>
            <td>webmaster@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Nutzerverwaltung</td>
            <td>Nutzerverwalter</td>
            <td>nutzer@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Abuse</td>
            <td>Felix Kluge</td>
            <td>abuse@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>Server & Co.</td>
            <td>Roots</td>
            <td>software@wh2.tu-dresden.de</td>
        </tr>
        <tr>
            <td>FTP-Server</td>
            <td>Diverse</td>
            <td>ftpadmin@wh2.tu-dresden.de</td>
        </tr>
    </table>
</div>

<div class="content-section">
    <h2>Hausadmins</h2>
    <table class="contacts houses">
        <thead>
        <tr>
            <th>Haus</th>
            <th>Ansprechpartner</th>
        </tr>
        </thead>
        <tr>
            <td>Wundtstraße 1</td>
            <td>Matthias Nicolai, Marco Petrick, Axel Rothe</td>
        </tr>
        <tr>
            <td>Wundtstraße 3</td>
            <td>Maximilian Marx, Adam Kalisz, Joshua Blöcker, Friedrich Zahn</td>
        </tr>
        <tr>
            <td>Wundtstraße 5</td>
            <td></td>
        </tr>
        <tr>
            <td>Wundtstraße 7</td>
            <td>Tim Fleck, Christian Rose, Frank Knietzsch</td>
        </tr>
        <tr>
            <td>Wundtstraße 9</td>
            <td>Felix Kluge, Felix Wollert</td>
        </tr>
        <tr>
            <td>Wundtstraße 11</td>
            <td></td>
        </tr>
        <tr>
            <td>Zellescher Weg</td>
            <td>Sven Johannsen, Tim Kluge</td>
        </tr>
    </table>
</div>
{% endblock %}