{% extends "base.html" %}#
{% set page_title = _('Trafficregelungen') %}

{% block content %}
    <h3>Trafficlimit</h3>
    <p>
        In der Sektion Wundtstraße existiert eine Traffic-Beschränkung. Jedem Nutzer stehen in 7 fortlaufenden Tagen 14 GB zu, dabei wird sowohl eingehender als auch ausgehender Verkehr gezählt.
        Jeden Tag um 18:00 Uhr werden alle Nutzer, die 80% ihres Kontingents überschritten haben, per E-Mail darüber informiert (die Mail geht dann an euer Atlantis-Postfach bzw. an die Weiterleitung).
        Euren aktuellen Status könnt ihr auf der <a href="{{ url_for('usertraffic') }}">Trafficseite</a> zu jeder Zeit abrufen.
    </p>

    <h3>Sperrung</h3>
    <p>
        Wird mehr als die erlaubte Menge Datenverkehr verursacht, wird der Zugang solange abgeschaltet, bis das gesamte verursachte Datenvolumen wieder weniger als 14 GB beträgt. Dies wird einmal täglich geprüft.
    </p>

    <h3>Besonderheiten/Ausnahmen</h3>
    <p>
    Verbindungen zu Computern im Uninetz/HTW sind trafficfrei. Das betrifft alle Computer mit den IP Adressen 141.30.*.*, 141.56.*.* und 141.76.*.* <br>
    Dabei gelten folgende Ausnahmen:
    </p>
    <ul>
        <li>vpn.zih.tu-dresden.de</li>
        <li>vpn2.zih.tu-dresden.de</li>
        <li>login1.zih.tu-dresden.de</li>
        <li>login2.zih.tu-dresden.de</li>
        <li>obelix.et.tu-dresden.de</li>
        <li>serv9.inf.tu-dresden.de</li>
        <li>ganymed.inf.tu-dresden.de</li>
        <li>serv12.inf.tu-dresden.de</li>
        <li>vpn1.inf.tu-dresden.de</li>
        <li>vpn2.inf.tu-dresden.de</li>
        <li>vpn.inf.tu-dresden.de</li>
        <li>rob.rz.htw-dresden.de</li>
        <li>rou6.rz.htw-dresden.de</li>
    </ul>

    <h3>Zählung</h3>
    <p>
        Die Zeitzählung erfolgt nach Weltzeit (UTC). Deshalb beginnt der neue Tag in der Datenbank erst 1 Stunde bei Winterzeit, bzw. 2 Stunden bei Sommerzeit nach Mitternacht. Die Daten werden 10 Minuten lang gesammelt und anschließend wird die Traffic-Seite aktualisiert. Auf diese Latenzzeit sollte man vor allem dann achten, wenn man sich in der Nähe des Limits bewegt.
    </p>
    <p>
        Es werden alle Pakete gezählt, die sich von und zur Wundtstraße bewegen. Wenn also die Pakete diese Strecke passieren und anschließend doch nicht ankommen, weil z.B. der Rechner ausgeschaltet wurde, werden sie trotzdem gezählt! Auswertungen haben ergeben, daß dadurch ca. 100KB täglich an Traffic dazukommt, für den man nichts kann. Das sollte man aber verschmerzen können.
    </p>
    <p>
        Anders ist das jedoch bei Peer-to-Peer-Anwendungen wie EDonkey, Kazaa, BitTorrent usw. Bei diesen Programmen wird bei jeder von einem Rechner gestellten Anfrage das Netz geflutet, die Anfragen werden also an Millionen von anderen Nutzern weitergegeben, die:

        <ul>
            <li>zum Teil die Anfrage beantworten,</li>
            <li>sich die IP des anfragenden Rechners merken, um selbst Anfragen zu stellen und</li>
            <li>die IP weiterzuleiten, damit andere Rechner ebenfalls Anfragen stellen können.</li>
        </ul>

        Somit können durch das einmalige Verwenden solcher Programme noch Stunden danach Anfragen ankommen, unabhängig davon, ob der entsprechende Rechner aus ist oder nicht. Solche Anfragen werden natürlich berechnet und können mehrere Dutzend Megabyte in wenigen Stunden ausmachen.
    </p>



{% endblock %}
