.pg-header {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: left;
	font-size: 24px;
	position: relative;
	padding: 60px 50px;
	color: white;
	background-color: black;
	background-image: url(../img/background.jpg);
	margin-bottom: 40px;
}

#trafficgauge {
	height: 200px;
}

.pg-header h1 {
	color: white;
}

body {
	margin-top: 40px;
}

.pg-header .container {
	position: relative;
} 
