.pg-header {
	display: none;
}


hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

/* LINKS:
 * Don't underline them if they're not part of a special component
 * (i.e., don't have a `class=` attribute
 */
a:not([class]):not(:hover) {
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
	.pg-header {
		display: block;
		text-align: left;
		font-size: 24px;
		position: relative;
		padding: 60px 50px;
		color: white;
        	background: black url(../img/background.jpg);
		background-size: cover;
		margin-bottom: 40px;
	}

	.pg-header h1 {
        	margin-top: 0px;
        	line-height: 1;
        	font-size: 60px;
		color: white;
	}

        .pg-header p {
        	margin-bottom: 0px;
        }

	.pg-header .container {
		position: relative;
	}
}

#logo {
	margin-top: -5px;
	opacity: 0.5;
	width: 32px;
	height: 32px;
}

#logo:hover {
	opacity: 1;
}

.module {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #E1E8ED;
}

.module h2 {
    font-size: 18pt;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.module div:last-child > address {
    margin-bottom: 0px;
}

.module hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.module .full {
    margin-left: -15px;
    margin-right: -15px;
}

div#row-contact div.module > div > div.row + div.row{
    margin-top: 1em;
}

td {
	vertical-align: top;
	padding-bottom: 20px;
}

img[alt=software_logo] {
	width: 100px;
}

#hints {
	padding: 0;
}

#hints div {
	margin-bottom: 10px;
}

.honey {
	display: none;
}


.text-password {
	filter: blur(5px);
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

tr:hover .text-password {
	filter: none;
}

.login_form {
	padding: 5px 10px;
}

.support_hotline_available_green {
	color: #3c763d;
}

.register_reset_container {
	text-align: right;
	padding-top: 200px;
}

.register_reset_link {
	size: 4px;
	color: lightgray;
}

.service_status {
	font-size: 2.5em;
}

.bus_few_minutes_left {
	font-weight: bold;
}
