.pg-header {
	display: none;
}

body {
	margin-top: 40px;
}

@media (min-width: 768px) {
	.pg-header {
		display: block;
		text-align: left;
		font-size: 24px;
		position: relative;
		padding: 60px 50px;
		color: white;
        background: black url(../img/background.jpg);
		background-size: cover;
		margin-bottom: 40px;
	}
	
	.pg-header h1 {
		color: white;
	}

	.pg-header .container {
		position: relative;
	} 
}

#logo {
	margin-top: -5px;
	background-image: url(../img/logo.png);
	background-size: 32px;
	width: 32px;
	height: 32px;
}

#logo:hover {
	background-image: url(../img/logo_hover.png);
}

#trafficgauge {
	height: 200px;
}

a#traffic_gauge_link {
    text-decoration: none;
    transition: text-shadow 1s ease, color 1s ease;
    -moz-transition: text-shadow 1s ease, color 1s ease;
    -webkit-transition: text-shadow 1s ease, color 1s ease;
    -o-transition: text-shadow 1s ease, color 1s ease;
}

a#traffic_gauge_link:hover {
    text-shadow: 3px 3px 8px hsl(0, 0%, 82%);
}

td {
	vertical-align: top;
	padding-bottom: 20px;
}

#trafstat {
	width: 100%;
}

img[alt=software_logo] { width: 100px; }
