.toc .node-name--H2 {
    font-size: 1.5rem;
}
.toc .node-name--H3 {
    font-size: 1.25rem;
}

.is-active-link::before {
    background-color: var(--bs-primary);
}

h2,h3 {
    padding-top: 70px;
    margin-top: -50px;
}
