{% macro render_field(field, focus=false) -%}
    {% if field.description %}{% set description = field.description %}{% endif %}
    {{ field(class="form-control", placeholder=description, autofocus=first) }}
{%- endmacro %}

{% macro render(form, form_id, reset_button=False, cancel_to=None, submit_text=_("Abschicken"), cancel_text=_("Abbrechen"), extra_btn=None, links=None) -%}
    <div id="{{ form_id }}" class="container col-sm-10">
        <form action="" method="post" class="form form-horizontal">
            {{ form.csrf_token }}
            {% for field in form -%}{% if field and field.id != 'csrf_token' %}
                {% if loop.index0 == 0 %}{% set focus = true %}{% endif %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {% if field.type == "BooleanField" %}
                        <div class="{{ form_input_offset_class }} {{ form_input_width_class }}">
                            <div class="checkbox">
                            <label>
                                <input id="{{ field.name }}" type="checkbox" name="{{ field.name }}"
                                        {{ 'checked' if field.data | default(field.default) }}>
                                {% if links %}{{ field.label | string | render_links(links) | safe }}
                                {% else %}{{ field.label }}{% endif %}
                            </label></div>
                        </div>
                    {% elif field.type == "RadioField" %}
                        <div class="{{ form_label_width_class }} control-label">
                            {{ field.label() }}
                        </div>
                        <div class="{{ form_input_width_class }}">
                            {% for subfield in field %}
                                <div class="radio"><label>
                                        {{ subfield }}
                                        {{ subfield.label.text }}
                                </label></div>
                            {% endfor %}
                        </div>
                    {% elif field.type != "HiddenField" %}
                        <div class="{{ form_label_width_class }} control-label">
                            {{ field.label() }}
                        </div>
                        <div class="{{ form_input_width_class }}">
                            {{ render_field(field, focus=focus) }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}{%- endfor %}

            {# Here can things like notes or alerts be placed #}
            {{ caller() }}

            <div class="form-group">
                <div class="{{ form_input_offset_class }} {{ form_input_width_class }}">
                    <button type="submit" class="btn btn-primary">{{ submit_text }}</button>
                    {% if reset_button -%}
                        <button type="reset" class="btn btn-default">{{ _('Zurücksetzen') }}</button>
                    {%- endif %}
                    {% if cancel_to -%}
                        <a href="{{ cancel_to }}" class="btn btn-default">{{ cancel_text }}</a>
                    {%- endif %}
                    {% if extra_btn -%}{{ extra_btn() }}{%- endif %}
                </div>
            </div>
        </form>
    </div>
{%- endmacro %}

{% macro render_simple() -%}
    {% call render(**kwargs) %}{% endcall %}
{%- endmacro %}
