{% extends "base.html" %}#
{% set page_title = _('Trafficregelungen') %}

{% block content %}
    <h3>Traffic limit</h3>
    <p>
        In the section Wundtstraße exists a traffic limit. Every user is entitled to cause 14 GB of traffic in seven consecutive days, whereat upload and download is counted.
        On every day at 06.00 pm, all users that have breached the 80%-line gets informed by e-mail.
        You are able to view the latest traffic state on <a href="{{ url_for('usertraffic') }}">your personal traffic site</a>.
    </p>

    <h3>Blocking</h3>
    <p>
        If you are causing more than the permitted 14 GB, your account gets suspended until you are again beneath 100%. This will be checked once a day.
    </p>

    <h3>Additional info/exceptions</h3>
    <p>
        Connections to computers in the university/HTW network are not metered. This concerns computers with the following IP addresses 141.30.*.*, 141.56.*.* and 141.76.*.*<br>
        With following exceptions:
    </p>
    <ul>
        <li>vpn.zih.tu-dresden.de</li>
        <li>vpn2.zih.tu-dresden.de</li>
        <li>login1.zih.tu-dresden.de</li>
        <li>login2.zih.tu-dresden.de</li>
        <li>obelix.et.tu-dresden.de</li>
        <li>serv9.inf.tu-dresden.de</li>
        <li>ganymed.inf.tu-dresden.de</li>
        <li>serv12.inf.tu-dresden.de</li>
        <li>vpn1.inf.tu-dresden.de</li>
        <li>vpn2.inf.tu-dresden.de</li>
        <li>vpn.inf.tu-dresden.de</li>
        <li>rob.rz.htw-dresden.de</li>
        <li>rou6.rz.htw-dresden.de</li>
    </ul>

    <h3>Counting</h3>
    <p>
        Our server are running with world time (UTC). Therefore the next day starts at 02.00am (summertime) and 01.00 am (wintertime) respectively, but never at midnight.
        The traffic dates are collected for ten minutes, after collecting, the dates are put into the database as you can see them watching the traffic site. So be aware if you are at the border to breach 100%, you will not be able to see the stats in real time.
        Every package that is moving to our from Wundtstraße gets counted, even when your computer ist shut off. Because of this, nearly 100KB is caused daily but you can't help it. But you should get on with.
        But be aware in using peer-to-peer-connections like edonkey, kazaa, bittorret, etc. Using this means, that when your computer sends a request, this request is sent to millions of other computers in the network, that
        <ul>
            <li>answer to your request,</li>
            <li>memorise your IP-address in order to send requests by themselves and</li>
            <li>forward your IP-address so other computers are able to send requests.</li>
        </ul>
        So requests and answers can reach your network socket even after you shut down your computer for hours. Of course these requests gets counted and are able to cause dozens of MB in a few hours.
    </p>
{% endblock %}
