<!DOCTYPE html>
<html lang="de">
	
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ _('Description') }}">
	<meta name="author" content="{{ _('Author') }}">
    
    <title>AG DSN Sektion Wundtstraße{% if page_title %} - {{ page_title }}{% endif %}</title>

	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{{ _('Toggle') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"/ style="max-width: 32px; margin-top: -5px;"></a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/anschluss" title="Anschlusskonfiguration">Anschluss</a>
                </li>
                <li>
                    <a href="/wohnheim" title="Wohnheimsübersicht">Wohnheim</a>
                </li>
                <li>
                    <a href="https://www.wh2.tu-dresden.de/" title="AGDSN">AGDSN</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Anmelden</a>
                </li>
            </ul>
        </div>
    </div>
</nav>    
	
<header class="pg-header">
	<div class="container">
		<h1>AGDSN Wundtstraße</h1>
		<p>{{ _("Description") }} </p>
	</div>
</header>


<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-9">
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for cat, msg in messages %}
						{% if cat == 'error' %}{% set cat = 'danger' %}{% endif %}
						<div class="alert{% if cat and cat != 'message' %} alert-{{ cat }}{% else %} alert-info{% endif %}">
							{{ _(msg) }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block content %}
			{% endblock %}
		</div>
		
		<div class="col-lg-3 col-md-3">
			<h2>Traffic</h2>
			<p>Folgendes Traffickontingent wurde von dir benutzt:</p>
			<div id="trafficgauge"></div>
			<p>Bei Überschreitung des maximalen Limits wird dein Anschluss automatisch gesperrt!</p>
		</div>
	</div>
</div>

<footer>
	<div class="container text-center">
        <hr>
        <div class="row">
            <div class="col-lg-12 footer-below">
                <p>AGDSN Sektion Wundtstraße, 2014</a>.
                <br>Powered by <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</footer>
	
<!-- <div class="container-fluid">
<div class="row">
    <div id="header" class="col-md-12">
        <div id="languageselection">
            {% if session.get('lang') == 'en' %}
                <a href="{{ url_for('set_language', lang='de') }}">Deutsch</a>
            {% elif session.get('lang') == 'de' %}
                <a href="{{ url_for('set_language', lang='en') }}">English</a>
            {% else %}
                <a href="{{ url_for('set_language', lang='de') }}">de</a> -
                <a href="{{ url_for('set_language', lang='en') }}">en</a>
            {% endif %}
        </div>
        <a href="{{ url_for("index") }}"><h1>AG DSN Sektion Wundtstraße</h1></a>
    </div>
</div>

<div class="row">
    <div id="navigation" class="col-md-2">
		<div class="navigation-block">
		    <div class="navigation-block-header">{{ _('Benutzermenü') }}</div>
		    <ul>
		        {% if current_user.is_anonymous() %}
                    <li><a href="{{ url_for("usertraffic") }}">Usertraffic</a></li>
                    <li><a href="{{ url_for("login") }}">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for("usersuite.usersuite") }}">Usersuite</a></li>
                    <li><a href="{{ url_for("usersuite.usersuite_contact") }}">{{ _('Nachricht an die Admins') }}</a></li>
                    <li><a href="{{ url_for("usersuite.usersuite_change_password") }}">{{ _('Passwort ändern') }}</a></li>
                    <li><a href="{{ url_for("usersuite.usersuite_change_mail") }}">{{ _('E-Mail-Adresse ändern') }}</a></li>
                    <li><a href="{{ url_for("usersuite.usersuite_change_mac") }}">{{ _('MAC-Adresse ändern') }}</a></li>
                    <li><a href="{{ url_for("usersuite.usersuite_hosting") }}">{{ _('Webhosting konfigurieren') }}</a></li>
                    <li><a href="{{ url_for("logout") }}">Logout</a></li>
                {% endif %}
		    </ul>
		</div>

        <div class="navigation-block">
            <div class="navigation-block-header">{{ _('Informationen') }}</div>
            <ul>
                <li><a href="{{ url_for("index") }}">News</a></li>
                <li><a href="{{ url_for("pages.contacts") }}">{{ _('Ansprechpartner') }}</a></li>
                <li><a href="http://www.studentenwerk-dresden.de/wohnen/ansprechpartner.html">{{ _('Hausmeister') }}</a></li>
                <li><a href="http://www.studentenwerk-dresden.de/wohnen/wohnheimkatalog/">{{ _('Wohnheime') }}</a></li>
                <li><a href="http://www.studentenwerk-dresden.de/mensen/mensen_cafeterien.html">{{ _('Mensen') }}</a></li>
            </ul>
        </div>

        <div class="navigation-block">
            <div class="navigation-block-header">{{ _('Dienste') }}</div>
            <ul>
                <li><a href="{{ url_for("bustimes") }}">{{ _('Abfahrtszeiten') }}</a></li>
                <li><a href="{{ url_for("index") }}">Software</a></li>
                <li><a href="https://www.wh2.tu-dresden.de/webmail">Webmail</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Wegweiser') }}</a></li>
                <li><a href="http://www.wh2.tu-dresden.de/wetter">{{ _('Wetter in der Wu') }}</a></li>
            </ul>
        </div>

        <div class="navigation-block">
            <div class="navigation-block-header">{{ _('AG-Netz') }}</div>
            <ul>
                <li><a href="{{ url_for("index") }}">{{ _('Anmeldung') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Externer Anschluss') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Häufig gestellte Fragen') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Anleitungen') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Semesterbeitrag') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Status unserer Dienste') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Wohnortwechsel') }}</a></li>
            </ul>
        </div>

        <div class="navigation-block">
            <div class="navigation-block-header">{{ _('Rechtliches') }}</div>
            <ul>
                <li><a href="{{ url_for("pages.traffic") }}">{{ _('Trafficregelungen') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Finanzordnung') }}</a></li>
                <li><a href="http://agdsn.de/rechtliches">{{ _('Höhere Ordnungen') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Netzordnung') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Satzung der AG DSN') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Satzung der Sektion') }}</a></li>
                <li><a href="{{ url_for("index") }}">{{ _('Impressum') }}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div id="footer" class="col-md-12">
        Sektion Wundtstraße, 2014
    </div>
</div> -->

	<script type="text/javascript" src="{{ url_for("static", filename="js/jquery-2.1.1.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/raphael.2.1.0.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/justgage.1.0.1.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static", filename="js/agdsn.js") }}"></script>
</body>
</html>
