{% extends "base.html" %}#
{% set page_title = _('Abfahrtszeiten') %}

{% block content %}
    {% if times %}
        <div class="row">
            <div class="col-md-4">
                {% for stop in times %}
                    <h3>{{ _('Haltestelle') }} {{ stop }}</h3>
                    {% if not times[stop] %}
                        <div style="color: red;">{{ _('Fehler bei der Abfrage!') }}</div>
                    {% else %}
                        <table id="timetable" class="table table-bordered table-striped">
                            <thead><tr>
                                <th class="col-md-1">{{ _('Linie') }}</th>
                                <th class="col-md-2">{{ _('Richtung') }}</th>
                                <th class="col-md-1">in</th>
                            </tr></thead>
                            {% for i in times[stop] %}
                                <tr>
                                    <td>{{ i[0] }}</td>
                                    <td>{{ i[1] }}</td>
                                    <td{% if i[2] < 6 %} style="font-weight: bold; color: red"{% endif %}>{{ i[2] }} Min</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endfor %}
                {{ _('Quelle') }}: <a href="http://www.vvo-online.de/">vvo-online.de</a> Abfahrtsmonitor Widget.
            </div>
        </div>
    {% else %}
        <div style="color: red;">{{ _('Fehler bei der Abfrage!') }}</div>
    {% endif %}

{% endblock %}