{% extends "base.html" %}#
{% set page_title = "News" %}

{% block content %}
    {% for n in news %}
        <div class="row">
            <div class="col-md-9 news-article">
                <div class="news-article-header{% if n.type == 'alert' %} news-article-header-alert{% endif %}">
                    <h3>{{ n.title }} </h3>
                    {{ n.author }} @ {{ n.date }}
                </div>
                <div class="news-article-content{% if n.type == 'alert' %} news-article-content-alert{% endif %}">
                    {{ n.message|markdown }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}