{% extends "base.html" %}#
{% set page_title = "News" %}

{% block content %}
    {% for art in articles %}
		{% if art.meta.type == 'alert' %}
			<div class="panel panel-danger"><div class="panel-body">
		{% endif %}
		<h2>
			{{ art.meta.title }}
			{% if art.meta.type == 'alert' %}
				<span class="label label-danger"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
			{% endif %}
		</h2>
		<small>{{ _("written by") }} {{ art.meta.author }}, {{ art.meta.date }}</small>
		<hr />
		<p>{{ art.html|safe }}</p>
		<br />
        
		{% if art.meta.type == 'alert' %}
			</div></div>
		{% endif %}
    {% endfor %}
{% endblock %}
