{% extends "base.html" %}#
{% import "macros/forms.html" as forms %}
{% set page_title = _("Onlineanmeldung") %}

{% block content %}
    <h2>{{ _("Onlineanmeldung") }}</h2>
    <h4>{{ title }}</h4>
    <hr><br>

    {% block register_content %}
    {% endblock %}
{% endblock %}

{% block custom_script %}
    <script type="text/javascript">
        window.addEventListener("pageshow", (event) => {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Reload page if history traversal is detected, because only input for the current
                // registration step is accepted.
                // Otherwise the forwarding to the current registration step could be interpreted
                // by the user as successful submission of the form.
                window.location.reload();
            }
        });
    </script>
    {% block register_custom_script %}{% endblock %}
{% endblock %}
