{% extends "register/base.html" %}#

{% block register_content %}
    Deine Registrierung wurde entgegen genommen!<br>
    Wir haben dir eine E-Mail mit einem Bestätigungslink geschickt. Deine Anfrage wird bearbeitet
    sobald du auf diesen Link klickst.<br>
    Bitte schaue auch in deinem Spam/Junk Ordner nach, falls du die E-Mail nicht in deinem
    Posteingang findest.
    <div style="text-align: right; padding-top: 200px;">
        <a  style="size: 4px; color: lightgray;" href="{{ url_for('.restart') }}">Rst</a>
    </div>
{% endblock %}
