{% extends "register/base.html" %}

{% block register_content %}
    Deine Registrierung wurde entgegen genommen!<br>
    Wir haben dir eine E-Mail mit einem Bestätigungslink geschickt. Deine Anfrage wird bearbeitet
    sobald du auf diesen Link klickst.<br>
    Bitte schaue auch in deinem Spam/Junk Ordner nach, falls du die E-Mail nicht in deinem
    Posteingang findest.
    <div class="register_reset_container">
        <a class="register_reset_link" href="{{ url_for('.restart') }}">Rst</a>
    </div>
{% endblock %}
