{% extends "register/base.html" %}#

{% macro skip_btn() %}
{% if skip_verification %}
    <button type="submit" class="btn btn-danger" name="skip_verification">{{ _("Verifizierung überspringen") }}</button>
{% endif %}
{% endmacro %}

{% block register_content %}
    {{ forms.render_simple(form=form, form_id="register-form",
                           submit_text=_("Erneut versuchen") if skip_verification else _("Weiter"),
                           cancel_to=url_for('.cancel'), extra_btn=skip_btn) }}
{% endblock %}

{%- block register_custom_script -%}
    <script src="{{ url_for("static", filename="js/register_identify.js") }}"></script>
{%- endblock -%}
