<h2>{{ _('Dein Traffic') }}</h2>
<div class="panel panel-default">
    <table class="panel-body table table-striped">
        <thead>
            <tr>
                <th>{{ _('Wochentag') }}</th>
                <th>{{ _("Download") }}</th>
                <th>{{ _("Upload") }}</th>
                <th>{{ _("Gesamt") }}</th>
                <th>{{ _("Credit") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for day in traffic_user.traffic_history %}
                <tr>
                    <td>{{ get_weekday(day['day']) }}</td>
                    <td>{{ day['input'] | unit }}</td>
                    <td>{{ day['output'] | unit }}</td>
                    <td class="{{ day['throughput'] | traffic_color(traffic_user.daily_credit) }}">
                        {{ day['throughput'] | unit }}
                    </td>
                    <td>{{ day['credit'] | unit }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td id="usersuite-traffic-sum" colspan="4">{{ _("Verbleibender Credit") }}</td>
                <td>{{ traffic_user.credit | unit }}</td>
            </tr>
        </tbody>
    </table>
</div>
