{% extends "base.html" %}#
{% set page_title = "AG DSN" %}
{% macro panelclass(type) %}
    {% if type == 'alert' %}
        panel-danger
    {% elif type == 'warning' %}
        panel-warning
    {% elif type == 'info' %}
        panel-info
    {% elif type == 'good' %}
        panel-success
    {% else %}
        panel-default
    {% endif %}
{% endmacro %}

{% block content %}
    {% for art in articles %}
        <div class="panel {{ panelclass(art.type) }}">
            <div class="panel-heading"><h2 class="panel-title">{{ art.title }}</h2></div>
            <div class="panel-body">{{ art.html|safe }}</div>
            <div class="panel-footer">{{ _("geschrieben von") }} {{ art.author }}, {{ art.date }}</div>
        </div>
    {% endfor %}
{% endblock %}
